body * {
	text-align: center;
	position: relative;
	margin: 0 auto;

}

#title a{
	width: 100%;
	overflow: hidden;
	font-weight: bold;
	font-size: 150%;
	vertical-align: middle;
}

#comments a{
	margin: 0 auto;
}